@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Quicksand&display=swap');

:root{
    --line-border-fill:var(--pink);
    --line-border-empty:var(--gray);
    --pink: #f5598d;
    --white: #ffffff; 
    --gray: #c0c0c0;  
}

*{
    box-sizing: border-box;
}

.main{
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

body{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{ /* Start for progress line */
    content: ''; /* in before and after you always need a content */
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{ /* Progress line */
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    height: 4px;
    width: 0%; /* 0 to 50% */
    z-index: -1;
    transition: 0.4s ease;
}

.circle{ /* inactive */
    background-color: var(--white);
    color: var(--gray);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}


.btn{
    background-color: var(--line-border-fill);
    color: var(--white);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    padding: 8px 30px;
    margin: 5px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}